PORT=3000
NODE_ENV=development
DATABASE_URL="postgresql://user:password@localhost:5432/myledger?schema=public"
JWT_SECRET=your-super-secret-jwt-key-change-this-in-production-include-special-characters-numbers-and-uppercase
ADMIN_PHONE=9999999999
ADMIN_PASSWORD=SecureAdmin@2026!#ChangeThis